<!DOCTYPE html>
<html>
<head>
    <!--
    * Author:         Masterwind
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Masterwind" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Masterwind's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">主页：Masterwind</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        
        <div class="home-contact">
            <a href="http://weibo.com/u/1812397252" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>    
        </div>
        
      
    </div>
	<!--
    <div class="github-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="https://github.com/newmasterwind/newmasterwind.github.io" target="_blank">Github Repository</a>
        </div>
    </div>
	-->
	<a class="v-fork-me" href="https://github.com/newmasterwind/newmasterwind.github.io" target="_blank" rel="nofollow">
        <img src="/images/forkme-on-github.png" alt="Fork me on GitHub">
    </a>
	<div class="aboutme-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/AboutMe" target="_blank">About Me-></a>
        </div>
    </div>
    {{ content }}

    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
    </script>

<a id="base_scrollToTop" class="W_gotop" style="visibility: visible;">
<span>
 <em class="W_ico icon_gotop"></em>
 <em class="W_txt">顶部</em>
</span>
</a>

<script type="text/javascript">
$(function(){
 var gotop = $(".W_gotop")
 gotop.click(function(){
  $("html,body").animate({scrollTop:0},500)
 });
 
 $(window).scroll(function(){
　　if($.browser.msie && ($.browser.version == "6.0") && !$.support.style){//如果IE6
　　 gotop.css({"top":($(window).scrollTop()+$(window).height()-100)+"px","position":"absolute"});
　　}
　　if($(window).scrollTop()<=50){
　　 gotop.fadeOut();
　　}else{
　　 gotop.fadeIn();
　　}
　});
}); 
</script>
</body>
</html>
